{% extends "base.html" %}

{% block title %}Chat Rooms{% endblock title %}

{% block content %}
  {% if not user.is_authenticated %}
  <h1>to be able to chat, please login</h1>
  <a href="{% url "signup" %}">signup</a><br>
  <a href="{% url "login" %}">login</a><br>
  {% else %}
  <h1>Hi, {{user.username}}</h1>
  

  <label>Ener the room name you would like to join, or create: </label>
  <input id="room-name-input" type="text" size="100" name="room-name-input"><br>
  <input id="room-name-submit" type="button" value="Enter"><br>


  <script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
      if (e.key === 'Enter') {  // enter, return
        document.querySelector('#room-name-submit').click();
      }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
      const roomName = document.querySelector('#room-name-input').value;
      window.location.pathname = '/chat/group/' + roomName + '/';
    };

  </script>
  {% endif %}
{% endblock content %}